VBClienteCalculadora/Connected Services/wsOperaciones/wsCalculadora.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sumar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nro1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="nro2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SumarResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Restar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nro1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="nro2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RestarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RestarResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Multiplicar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nro1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="nro2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplicarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MultiplicarResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Dividir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nro1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="nro2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DividirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DividirResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Factorial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FactorialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FactorialResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="potencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="potenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="potenciaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Seno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="angulo" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SenoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SenoResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tangente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="angulo" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TangenteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TangenteResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RaizCuadrada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RaizCuadradaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RaizCuadradaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RaizEnesima">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="raiz" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RaizEnesimaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RaizEnesimaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="numinverso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="numinversoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numinversoResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SumarSoapIn">
    <wsdl:part name="parameters" element="tns:Sumar" />
  </wsdl:message>
  <wsdl:message name="SumarSoapOut">
    <wsdl:part name="parameters" element="tns:SumarResponse" />
  </wsdl:message>
  <wsdl:message name="RestarSoapIn">
    <wsdl:part name="parameters" element="tns:Restar" />
  </wsdl:message>
  <wsdl:message name="RestarSoapOut">
    <wsdl:part name="parameters" element="tns:RestarResponse" />
  </wsdl:message>
  <wsdl:message name="MultiplicarSoapIn">
    <wsdl:part name="parameters" element="tns:Multiplicar" />
  </wsdl:message>
  <wsdl:message name="MultiplicarSoapOut">
    <wsdl:part name="parameters" element="tns:MultiplicarResponse" />
  </wsdl:message>
  <wsdl:message name="DividirSoapIn">
    <wsdl:part name="parameters" element="tns:Dividir" />
  </wsdl:message>
  <wsdl:message name="DividirSoapOut">
    <wsdl:part name="parameters" element="tns:DividirResponse" />
  </wsdl:message>
  <wsdl:message name="FactorialSoapIn">
    <wsdl:part name="parameters" element="tns:Factorial" />
  </wsdl:message>
  <wsdl:message name="FactorialSoapOut">
    <wsdl:part name="parameters" element="tns:FactorialResponse" />
  </wsdl:message>
  <wsdl:message name="potenciaSoapIn">
    <wsdl:part name="parameters" element="tns:potencia" />
  </wsdl:message>
  <wsdl:message name="potenciaSoapOut">
    <wsdl:part name="parameters" element="tns:potenciaResponse" />
  </wsdl:message>
  <wsdl:message name="SenoSoapIn">
    <wsdl:part name="parameters" element="tns:Seno" />
  </wsdl:message>
  <wsdl:message name="SenoSoapOut">
    <wsdl:part name="parameters" element="tns:SenoResponse" />
  </wsdl:message>
  <wsdl:message name="TangenteSoapIn">
    <wsdl:part name="parameters" element="tns:Tangente" />
  </wsdl:message>
  <wsdl:message name="TangenteSoapOut">
    <wsdl:part name="parameters" element="tns:TangenteResponse" />
  </wsdl:message>
  <wsdl:message name="RaizCuadradaSoapIn">
    <wsdl:part name="parameters" element="tns:RaizCuadrada" />
  </wsdl:message>
  <wsdl:message name="RaizCuadradaSoapOut">
    <wsdl:part name="parameters" element="tns:RaizCuadradaResponse" />
  </wsdl:message>
  <wsdl:message name="RaizEnesimaSoapIn">
    <wsdl:part name="parameters" element="tns:RaizEnesima" />
  </wsdl:message>
  <wsdl:message name="RaizEnesimaSoapOut">
    <wsdl:part name="parameters" element="tns:RaizEnesimaResponse" />
  </wsdl:message>
  <wsdl:message name="numinversoSoapIn">
    <wsdl:part name="parameters" element="tns:numinverso" />
  </wsdl:message>
  <wsdl:message name="numinversoSoapOut">
    <wsdl:part name="parameters" element="tns:numinversoResponse" />
  </wsdl:message>
  <wsdl:portType name="wsCalculadoraSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">CALCULADORA - ACTIVIDAD</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sumar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Suma de dos numeros</wsdl:documentation>
      <wsdl:input message="tns:SumarSoapIn" />
      <wsdl:output message="tns:SumarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Restar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Resta de dos numeros</wsdl:documentation>
      <wsdl:input message="tns:RestarSoapIn" />
      <wsdl:output message="tns:RestarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Multiplicar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Producto de dos numeros</wsdl:documentation>
      <wsdl:input message="tns:MultiplicarSoapIn" />
      <wsdl:output message="tns:MultiplicarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Division de dos numeros</wsdl:documentation>
      <wsdl:input message="tns:DividirSoapIn" />
      <wsdl:output message="tns:DividirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Factorial">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Factorial de un numero</wsdl:documentation>
      <wsdl:input message="tns:FactorialSoapIn" />
      <wsdl:output message="tns:FactorialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="potencia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Potencia</wsdl:documentation>
      <wsdl:input message="tns:potenciaSoapIn" />
      <wsdl:output message="tns:potenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Seno">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Seno</wsdl:documentation>
      <wsdl:input message="tns:SenoSoapIn" />
      <wsdl:output message="tns:SenoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tangente">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Tangente</wsdl:documentation>
      <wsdl:input message="tns:TangenteSoapIn" />
      <wsdl:output message="tns:TangenteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RaizCuadrada">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Raiz Cuadrada</wsdl:documentation>
      <wsdl:input message="tns:RaizCuadradaSoapIn" />
      <wsdl:output message="tns:RaizCuadradaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RaizEnesima">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Raiz Enesima</wsdl:documentation>
      <wsdl:input message="tns:RaizEnesimaSoapIn" />
      <wsdl:output message="tns:RaizEnesimaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="numinverso">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inversa</wsdl:documentation>
      <wsdl:input message="tns:numinversoSoapIn" />
      <wsdl:output message="tns:numinversoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsCalculadoraSoap" type="tns:wsCalculadoraSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sumar">
      <soap:operation soapAction="http://tempuri.org/Sumar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Restar">
      <soap:operation soapAction="http://tempuri.org/Restar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplicar">
      <soap:operation soapAction="http://tempuri.org/Multiplicar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <soap:operation soapAction="http://tempuri.org/Dividir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Factorial">
      <soap:operation soapAction="http://tempuri.org/Factorial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="potencia">
      <soap:operation soapAction="http://tempuri.org/potencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Seno">
      <soap:operation soapAction="http://tempuri.org/Seno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tangente">
      <soap:operation soapAction="http://tempuri.org/Tangente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RaizCuadrada">
      <soap:operation soapAction="http://tempuri.org/RaizCuadrada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RaizEnesima">
      <soap:operation soapAction="http://tempuri.org/RaizEnesima" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="numinverso">
      <soap:operation soapAction="http://tempuri.org/numinverso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsCalculadoraSoap12" type="tns:wsCalculadoraSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sumar">
      <soap12:operation soapAction="http://tempuri.org/Sumar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Restar">
      <soap12:operation soapAction="http://tempuri.org/Restar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplicar">
      <soap12:operation soapAction="http://tempuri.org/Multiplicar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <soap12:operation soapAction="http://tempuri.org/Dividir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Factorial">
      <soap12:operation soapAction="http://tempuri.org/Factorial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="potencia">
      <soap12:operation soapAction="http://tempuri.org/potencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Seno">
      <soap12:operation soapAction="http://tempuri.org/Seno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tangente">
      <soap12:operation soapAction="http://tempuri.org/Tangente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RaizCuadrada">
      <soap12:operation soapAction="http://tempuri.org/RaizCuadrada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RaizEnesima">
      <soap12:operation soapAction="http://tempuri.org/RaizEnesima" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="numinverso">
      <soap12:operation soapAction="http://tempuri.org/numinverso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsCalculadora">
    <wsdl:port name="wsCalculadoraSoap" binding="tns:wsCalculadoraSoap">
      <soap:address location="https://localhost:44358/wsCalculadora.asmx" />
    </wsdl:port>
    <wsdl:port name="wsCalculadoraSoap12" binding="tns:wsCalculadoraSoap12">
      <soap12:address location="https://localhost:44358/wsCalculadora.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>